body {
    margin: 100px;
}

.button {
    background-color: blueviolet;
    border-radius: 50%;
    border: none;
    outline: none;
}

.fas {
    margin: auto
}

.main {
    position: absolute;
    top: 100px;
	left: 100px;
    width: 50px;
    height: 50px;
    font-size: 25px;
}

.buttons {
    position: absolute;
	top: 105.5px;
	left: 105.5px;
    width: 40px;
    height: 40px;
    font-size: 15px;
}

.hidden{
    visibility: hidden;
}

.icon {
    color: white;
}

@keyframes rot1 {
    from {
		transform: rotate(0deg)
		           translate(0px)
		           rotate(0deg);
	}
	to {
		transform: rotate(270deg)
		           translate(-60px) 
		           rotate(-270deg);
	}
}
@keyframes rot2 {
	from {
		transform: rotate(0deg)
		           translate(0px)
		           rotate(0deg);
	}
	to {
		transform: rotate(225deg)
		           translate(-60px) 
		           rotate(-225deg);
	}
}
@keyframes rot3 {
	from {
		transform: rotate(0deg)
		           translate(0px)
		           rotate(0deg);
	}
	to {
		transform: rotate(180deg)
		           translate(-60px) 
		           rotate(-180deg);
	}
}
@keyframes rot4 {
	from {
		transform: rotate(0deg)
		           translate(0px)
		           rotate(0deg);
	}
	to {
		transform: rotate(135deg)
		           translate(-60px) 
		           rotate(-135deg);
	}
}
@keyframes rot5 {
	from {
		transform: rotate(0deg)
		           translate(0px)
		           rotate(0deg);
	}
	to {
		transform: rotate(90deg)
		           translate(-60px) 
		           rotate(-90deg);
	}
}
@keyframes rot6 {
	from {
		transform: rotate(0deg)
		           translate(0px)
		           rotate(0deg);
	}
	to {
		transform: rotate(45deg)
		           translate(-60px) 
		           rotate(-45deg);
	}
}
@keyframes rot7 {
	from {
		transform: rotate(0deg)
		           translate(0px)
		           rotate(0deg);
	}
	to {
		transform: rotate(0deg)
		           translate(-60px)
		           rotate(0deg);
	}
}
@keyframes rot8 {
	from {
		transform: rotate(0deg)
		           translate(0px)
		           rotate(0deg);
	}
	to {
		transform: rotate(-45deg)
		           translate(-60px) 
		           rotate(45deg);
	}
}

@keyframes derot1 {
	0% {
		transform: rotate(270deg)
		           translate(-60px)
		           rotate(-270deg);
	}
	100% {
		transform: rotate(0deg)
		           translate(0px) 
		           rotate(0deg);
	}
}
@keyframes derot2 {
	from {
		transform: rotate(225deg)
		           translate(-60px)
		           rotate(-225deg);
	}
	to {
		transform: rotate(0deg)
		           translate(0px) 
		           rotate(0deg);
	}
}
@keyframes derot3 {
	from {
		transform: rotate(180deg)
		           translate(-60px)
                   rotate(-180deg);
	}
	to {
		transform: rotate(0deg)
		           translate(0px) 
		           rotate(0deg);
	}
}
@keyframes derot4 {
	from {
		transform: rotate(135deg)
		           translate(-60px)
                   rotate(-135deg);
	}
	to {
		transform: rotate(0deg)
		           translate(0px) 
		           rotate(0deg);
	}
}
@keyframes derot5 {
	from {
		transform: rotate(90deg)
		           translate(-60px)
                   rotate(-90deg);
	}
	to {
		transform: rotate(0deg)
		           translate(0px) 
		           rotate(0deg);
	}
}
@keyframes derot6 {
	from {
		transform: rotate(45deg)
		           translate(-60px)
                   rotate(-45deg);
	}
	to {
		transform: rotate(0deg)
		           translate(0px) 
		           rotate(0deg);
	}
}
@keyframes derot7 {
	from {
		transform: rotate(0deg)
		           translate(-60px)
                   rotate(0deg);
	}
	to {
		transform: rotate(0deg)
		           translate(0px) 
		           rotate(0deg);
	}
}
@keyframes derot8 {
	from {
		transform: rotate(-45deg)
		           translate(-60px)
                   rotate(45deg);
	}
	to {
		transform: rotate(0deg)
		           translate(0px) 
		           rotate(0deg);
	}
}


.rotating1 {
    animation: rot1 0.5s 1 ease-out;
    animation-fill-mode: forwards;
}

.derotating1 {
    animation: derot1 0.5s 1 ease-out;
    animation-fill-mode: forwards;
}

.rotating2 {
    animation: rot2 0.5s 1 ease-out;
    animation-fill-mode: forwards;
}

.derotating2 {
    animation: derot2 0.5s 1 ease-out;
    animation-fill-mode: forwards;
}

.rotating3 {
    animation: rot3 0.5s 1 ease-out;
    animation-fill-mode: forwards;
}

.derotating3 {
    animation: derot3 0.5s 1 ease-out;
    animation-fill-mode: forwards;
}

.rotating4 {
    animation: rot4 0.5s 1 ease-out;
    animation-fill-mode: forwards;
}

.derotating4 {
    animation: derot4 0.5s 1 ease-out;
    animation-fill-mode: forwards;
}

.rotating5 {
    animation: rot5 0.5s 1 ease-out;
    animation-fill-mode: forwards;
}

.derotating5 {
    animation: derot5 0.5s 1 ease-out;
    animation-fill-mode: forwards;
}

.rotating6 {
    animation: rot6 0.5s 1 ease-out;
    animation-fill-mode: forwards;
}

.derotating6 {
    animation: derot6 0.5s 1 ease-out;
    animation-fill-mode: forwards;
}

.rotating7 {
    animation: rot7 0.5s 1 ease-out;
    animation-fill-mode: forwards;
}

.derotating7 {
    animation: derot7 0.5s 1 ease-out;
    animation-fill-mode: forwards;
}

.rotating8 {
    animation: rot8 0.5s 1 ease-out;
    animation-fill-mode: forwards;
}

.derotating8 {
    animation: derot8 0.5s 1 ease-out;
    animation-fill-mode: forwards;
}